 /* a Sass file that assigns the text color #3D3D3D to the HTML tags body and p */
$bg: #6D6D6D;
$color: #3D3D3D;
body {
  color: $color;
   background-color: $bg; }

p {
  color: $color; }

h2 {
  background-color: $bg; }